In [ ]:
import pandas as pd
df = pd.read_excel("CitasHospitalSucNorte.xlsx")
df_eps = pd.read_csv("listado-eps-por-regimen-30032022.csv", sep=";")

In [ ]:
df.head()

,NroCita,fecha,NroSegSocial,nombrePaciente,apellido,telefono,tarjeta,Medico,EPS,Diagnostico,Tratamiento
0,30,2022-01-04,71850445,Antonio,Fernandez,3289615252,112,Camilo Gonzalez,ESS024,Conjuntivitis,Gotas garamicina cada 6 horas
1,31,2022-01-04,43255890,Sandra,Giraldo,3114558996,113,Tatiana Zapata,EPS037,Amigdalitis,Antibiotico y acetaminofen cada 8 horas
2,32,2022-01-04,1033259863,Sebastián,Jaramillo,3238452121,201,Gonzalo Arias,ESS207,Laringitis,"antibiotico , desinflamatorio"
3,33,2022-01-04,1002456789,Marcela,Salazar,3235679007,205,Hernán Marmolejo,EPS001,Alergia inespecífica,Loratadina
4,34,2022-01-05,1001800345,David,Arango,3116067890,345,Patricia Escudero,EPS002,Anemia,Pastillas de hierro

In [ ]:
df_eps.head()

,No.,ENTIDAD,CÓDIGO,CÓDIGO_MOVILIDAD,NIT,RÉGIMEN
0,1,COOSALUD EPS-S,ESS024,ESSC24,900226715,AMBOS REGÍMENES
1,2,NUEVA EPS,EPS037,EPSS37,900156264,AMBOS REGÍMENES
2,3,MUTUAL SER,ESS207,ESSC07,806008394,AMBOS REGÍMENES
3,4,ALIANSALUD EPS,EPS001,EPSS01,830113831,CONTRIBUTIVO
4,5,SALUD TOTAL EPS S.A.,EPS002,EPSS02,800130907,CONTRIBUTIVO

In [ ]:
df_pacientes = df[['NroSegSocial','nombrePaciente','apellido','telefono','EPS']]
df_pacientes

    NroSegSocial nombrePaciente   apellido    telefono     EPS
0       71850445       Antonio   Fernandez  3289615252  ESS024
1       43255890         Sandra    Giraldo  3114558996  EPS037
2     1033259863     Sebastián   Jaramillo  3238452121  ESS207
3     1002456789        Marcela   Salazar   3235679007  EPS001
4     1001800345          David     Arango  3116067890  EPS002
..           ...            ...        ...         ...     ...
66      32114221         Silvia     Botero  3415528989  EPS017
67    1102274220   Julian Dario     Ospina     4148190  EPS018
68       8321556   Luis Alfonso   Escudero  3117418520  EPS046
69      43255890         Sandra    Giraldo  3114558996  EPS012
70    1002456789        Marcela   Salazar   3235679007  EPS008

[71 rows x 5 columns]

In [ ]:
df_pacientes = df_pacientes.drop_duplicates()
df_pacientes

    NroSegSocial nombrePaciente   apellido    telefono     EPS
0       71850445       Antonio   Fernandez  3289615252  ESS024
1       43255890         Sandra    Giraldo  3114558996  EPS037
2     1033259863     Sebastián   Jaramillo  3238452121  ESS207
3     1002456789        Marcela   Salazar   3235679007  EPS001
4     1001800345          David     Arango  3116067890  EPS002
..           ...            ...        ...         ...     ...
65      32555334       Angelica    Aguirre  3415565859  EPS010
66      32114221         Silvia     Botero  3415528989  EPS017
67    1102274220   Julian Dario     Ospina     4148190  EPS018
68       8321556   Luis Alfonso   Escudero  3117418520  EPS046
70    1002456789        Marcela   Salazar   3235679007  EPS008

[70 rows x 5 columns]

In [ ]:
df_pacientes.count()

NroSegSocial      37
nombrePaciente    37
apellido          37
telefono          37
dtype: int64

In [ ]:
df_medicos = df[['tarjeta','Medico']]
df_medicos

    tarjeta             Medico
0       112    Camilo Gonzalez
1       113     Tatiana Zapata
2       201      Gonzalo Arias
3       205   Hernán Marmolejo
4       345  Patricia Escudero
..      ...                ...
66      112    Camilo Gonzalez
67      113     Tatiana Zapata
68      201      Gonzalo Arias
69      205   Hernán Marmolejo
70      345  Patricia Escudero

[71 rows x 2 columns]

In [ ]:
df_medicos = df_medicos.drop_duplicates()

In [ ]:
df_medicos

    tarjeta             Medico
0       112    Camilo Gonzalez
1       113     Tatiana Zapata
2       201      Gonzalo Arias
3       205   Hernán Marmolejo
4       345  Patricia Escudero
5       356      Liliana Ortiz
6       700        Juana Gomez
7       852   Edison Tangarife
8       975        Olga Franco
9       988  Gabriel Velasquez
10      989       Julian Gomez

In [ ]:
df_eps_citas = df[['EPS']]
df_eps_citas

       EPS
0   ESS024
1   EPS037
2   ESS207
3   EPS001
4   EPS002
..     ...
66  EPS017
67  EPS018
68  EPS046
69  EPS012
70  EPS008

[71 rows x 1 columns]

In [ ]:
df_eps_citas = df_eps_citas.drop_duplicates()
df_eps_citas

       EPS
0   ESS024
1   EPS037
2   ESS207
3   EPS001
4   EPS002
5   EPS005
6   EPS010
7   EPS017
8   EPS018
9   EPS046
10  EPS012
11  EPS008
12  EPS022
13  EPSS40
14  EPSI01
15  EPSI03
16  EPSI04
17  EPSI05
18  EPSI06
31  EPS025
32  CCF102
33  CCF023
34  CCF024
35  CCF050
36  CCF033
37  ESS062
38  ESS091
39  ESS118

In [ ]:
df_eps = df_eps.rename(columns={'CÓDIGO':'EPS'})
df_eps

,No.,ENTIDAD,EPS,CÓDIGO_MOVILIDAD,NIT,RÉGIMEN
0,1,COOSALUD EPS-S,ESS024,ESSC24,900226715,AMBOS REGÍMENES
1,2,NUEVA EPS,EPS037,EPSS37,900156264,AMBOS REGÍMENES
2,3,MUTUAL SER,ESS207,ESSC07,806008394,AMBOS REGÍMENES
3,4,ALIANSALUD EPS,EPS001,EPSS01,830113831,CONTRIBUTIVO
4,5,SALUD TOTAL EPS S.A.,EPS002,EPSS02,800130907,CONTRIBUTIVO
5,6,EPS SANITAS,EPS005,EPSS05,800251440,CONTRIBUTIVO
6,7,EPS SURA,EPS010,EPSS10,800088702,CONTRIBUTIVO
7,8,FAMISANAR,EPS017,EPSS17,830003564,CONTRIBUTIVO
8,9,SERVICIO OCCIDENTAL DE SALUD EPS SOS,EPS018,EPSS18,805001157,CONTRIBUTIVO
9,10,SALUD MIA,EPS046,EPSS46,900914254,CONTRIBUTIVO
10,11,COMFENALCO VALLE,EPS012,EPSS12,890303093,CONTRIBUTIVO
11,12,COMPENSAR EPS,EPS008,EPSS08,860066942,CONTRIBUTIVO
12,13,EPM - EMPRESAS PUBLICAS DE MEDELLIN,EAS016,NaN,890904996,CONTRIBUTIVO
13,14,FONDO DE PASIVO SOCIAL DE FERROCARRILES NACION...,EAS027,NaN,800112806,CONTRIBUTIVO
14,15,CAJACOPI ATLANTICO,CCF055,CCFC55,890102044,SUBSIDIADO
15,16,CAPRESOCA,EPS025,EPSC25,891856000,SUBSIDIADO
16,17,COMFACHOCO,CCF102,CCFC20,891600091,SUBSIDIADO
17,18,COMFAMILIAR DE LA GUAJIRA,CCF023,CCFC23,892115006,SUBSIDIADO
18,19,COMFAMILIAR HUILA,CCF024,CCFC24,891180008,SUBSIDIADO
19,20,COMFAORIENTE,CCF050,CCFC50,890500675,SUBSIDIADO
20,21,EPS FAMILIAR DE COLOMBIA,CCF033,CCFC33,901543761,SUBSIDIADO
21,22,ASMET SALUD,ESS062,ESSC62,900935126,SUBSIDIADO
22,23,ECOOPSOS ESS EPS-S,ESS091,ESSC91,901093846,SUBSIDIADO
23,24,EMSSANAR E.S.S.,ESS118,ESSC18,901021565,SUBSIDIADO
24,25,CAPITAL SALUD EPS-S,EPSS34,EPSC34,900298372,SUBSIDIADO
25,26,CONVIDA,EPS022,EPSC22,899999107,SUBSIDIADO
26,27,SAVIA SALUD EPS,EPSS40,EPS040,900604350,SUBSIDIADO
27,28,DUSAKAWI EPSI,EPSI01,EPSIC1,824001398,SUBSIDIADO
28,29,ASOCIACION INDIGENA DEL CAUCA EPSI,EPSI03,EPSIC3,817001773,SUBSIDIADO
29,30,ANAS WAYUU EPSI,EPSI04,EPSIC4,839000495,SUBSIDIADO
30,31,MALLAMAS EPSI,EPSI05,EPSIC5,837000084,SUBSIDIADO
31,32,PIJAOS SALUD EPSI,EPSI06,EPSIC6,809008362,SUBSIDIADO

In [ ]:
df_eps_citas = pd.merge(df_eps_citas, df_eps, on='EPS', how='right')

In [ ]:
df_eps_citas = df_eps_citas[['EPS','ENTIDAD']]
df_eps_citas

        EPS                                            ENTIDAD
0    ESS024                                     COOSALUD EPS-S
1   EPS037                                           NUEVA EPS
2    ESS207                                         MUTUAL SER
3    EPS001                                     ALIANSALUD EPS
4    EPS002                               SALUD TOTAL EPS S.A.
5    EPS005                                        EPS SANITAS
6    EPS010                                           EPS SURA
7    EPS017                                          FAMISANAR
8    EPS018               SERVICIO OCCIDENTAL DE SALUD EPS SOS
9    EPS046                                          SALUD MIA
10   EPS012                                   COMFENALCO VALLE
11   EPS008                                      COMPENSAR EPS
12   EAS016                EPM - EMPRESAS PUBLICAS DE MEDELLIN
13   EAS027  FONDO DE PASIVO SOCIAL DE FERROCARRILES NACION...
14   CCF055                                 CAJACOPI ATLANTICO
15   EPS025                                          CAPRESOCA
16   CCF102                                         COMFACHOCO
17   CCF023                         COMFAMILIAR DE LA  GUAJIRA
18   CCF024                                  COMFAMILIAR HUILA
19   CCF050                                       COMFAORIENTE
20   CCF033                           EPS FAMILIAR DE COLOMBIA
21   ESS062                                       ASMET  SALUD
22   ESS091                                 ECOOPSOS ESS EPS-S
23   ESS118                                    EMSSANAR E.S.S.
24   EPSS34                                CAPITAL SALUD EPS-S
25   EPS022                                            CONVIDA
26   EPSS40                                    SAVIA SALUD EPS
27   EPSI01                                      DUSAKAWI EPSI
28   EPSI03                 ASOCIACION INDIGENA DEL CAUCA EPSI
29   EPSI04                                    ANAS WAYUU EPSI
30   EPSI05                                      MALLAMAS EPSI
31   EPSI06                                  PIJAOS SALUD EPSI

In [ ]:
df_historia = df[['NroCita','Diagnostico','Tratamiento']]
df_historia

    NroCita           Diagnostico                              Tratamiento
0        30         Conjuntivitis            Gotas garamicina cada 6 horas
1        31           Amigdalitis  Antibiotico y acetaminofen cada 8 horas
2        32            Laringitis            antibiotico , desinflamatorio
3        33  Alergia inespecífica                               Loratadina
4        34                Anemia                      Pastillas de hierro
..      ...                   ...                                      ...
66       96           Amigdalitis  Antibiotico y acetaminofen cada 8 horas
67       97            Laringitis            antibiotico , desinflamatorio
68       98                Anemia                      Pastillas de hierro
69       99           Apendicitis                      Cirugia de urgencia
70      100    Dermatitis atópica                    Cremas especializadas

[71 rows x 3 columns]

In [ ]:
df_historia.reset_index(level=0,inplace=True)
df_historia

,index,NroCita,Diagnostico,Tratamiento
0,0,30,Conjuntivitis,Gotas garamicina cada 6 horas
1,1,31,Amigdalitis,Antibiotico y acetaminofen cada 8 horas
2,2,32,Laringitis,"antibiotico , desinflamatorio"
3,3,33,Alergia inespecífica,Loratadina
4,4,34,Anemia,Pastillas de hierro
...,...,...,...,...
66,66,96,Amigdalitis,Antibiotico y acetaminofen cada 8 horas
67,67,97,Laringitis,"antibiotico , desinflamatorio"
68,68,98,Anemia,Pastillas de hierro
69,69,99,Apendicitis,Cirugia de urgencia
70,70,100,Dermatitis atópica,Cremas especializadas

In [ ]:
df_historia = df_historia.rename(columns={'index':'idHistoria'})
df_historia

,idHistoria,NroCita,Diagnostico,Tratamiento
0,0,30,Conjuntivitis,Gotas garamicina cada 6 horas
1,1,31,Amigdalitis,Antibiotico y acetaminofen cada 8 horas
2,2,32,Laringitis,"antibiotico , desinflamatorio"
3,3,33,Alergia inespecífica,Loratadina
4,4,34,Anemia,Pastillas de hierro
...,...,...,...,...
66,66,96,Amigdalitis,Antibiotico y acetaminofen cada 8 horas
67,67,97,Laringitis,"antibiotico , desinflamatorio"
68,68,98,Anemia,Pastillas de hierro
69,69,99,Apendicitis,Cirugia de urgencia
70,70,100,Dermatitis atópica,Cremas especializadas

In [ ]:
df_historia['idHistoria']+=7
df_historia

,idHistoria,NroCita,Diagnostico,Tratamiento
0,7,30,Conjuntivitis,Gotas garamicina cada 6 horas
1,8,31,Amigdalitis,Antibiotico y acetaminofen cada 8 horas
2,9,32,Laringitis,"antibiotico , desinflamatorio"
3,10,33,Alergia inespecífica,Loratadina
4,11,34,Anemia,Pastillas de hierro
...,...,...,...,...
66,73,96,Amigdalitis,Antibiotico y acetaminofen cada 8 horas
67,74,97,Laringitis,"antibiotico , desinflamatorio"
68,75,98,Anemia,Pastillas de hierro
69,76,99,Apendicitis,Cirugia de urgencia
70,77,100,Dermatitis atópica,Cremas especializadas

In [ ]:
df_citas = df[['NroCita','fecha','NroSegSocial','tarjeta','EPS']]
df_citas

    NroCita      fecha  NroSegSocial  tarjeta     EPS
0        30 2022-01-04      71850445      112  ESS024
1        31 2022-01-04      43255890      113  EPS037
2        32 2022-01-04    1033259863      201  ESS207
3        33 2022-01-04    1002456789      205  EPS001
4        34 2022-01-05    1001800345      345  EPS002
..      ...        ...           ...      ...     ...
66       96 2022-01-27      32114221      112  EPS017
67       97 2022-01-28    1102274220      113  EPS018
68       98 2022-01-29       8321556      201  EPS046
69       99 2022-01-29      43255890      205  EPS012
70      100 2022-01-31    1002456789      345  EPS008

[71 rows x 5 columns]

In [ ]:
df_citas = pd.merge(df_citas, df_historia, on='NroCita', how='right')
df_citas

,NroCita,fecha,NroSegSocial,tarjeta,EPS,idHistoria,Diagnostico,Tratamiento
0,30,2022-01-04,71850445,112,ESS024,7,Conjuntivitis,Gotas garamicina cada 6 horas
1,31,2022-01-04,43255890,113,EPS037,8,Amigdalitis,Antibiotico y acetaminofen cada 8 horas
2,32,2022-01-04,1033259863,201,ESS207,9,Laringitis,"antibiotico , desinflamatorio"
3,33,2022-01-04,1002456789,205,EPS001,10,Alergia inespecífica,Loratadina
4,34,2022-01-05,1001800345,345,EPS002,11,Anemia,Pastillas de hierro
...,...,...,...,...,...,...,...,...
66,96,2022-01-27,32114221,112,EPS017,73,Amigdalitis,Antibiotico y acetaminofen cada 8 horas
67,97,2022-01-28,1102274220,113,EPS018,74,Laringitis,"antibiotico , desinflamatorio"
68,98,2022-01-29,8321556,201,EPS046,75,Anemia,Pastillas de hierro
69,99,2022-01-29,43255890,205,EPS012,76,Apendicitis,Cirugia de urgencia
70,100,2022-01-31,1002456789,345,EPS008,77,Dermatitis atópica,Cremas especializadas

In [ ]:
df_citas = df_citas[['NroCita','fecha','NroSegSocial','tarjeta','EPS','idHistoria']]
df_citas

    NroCita      fecha  NroSegSocial  tarjeta     EPS  idHistoria
0        30 2022-01-04      71850445      112  ESS024           7
1        31 2022-01-04      43255890      113  EPS037           8
2        32 2022-01-04    1033259863      201  ESS207           9
3        33 2022-01-04    1002456789      205  EPS001          10
4        34 2022-01-05    1001800345      345  EPS002          11
..      ...        ...           ...      ...     ...         ...
66       96 2022-01-27      32114221      112  EPS017          73
67       97 2022-01-28    1102274220      113  EPS018          74
68       98 2022-01-29       8321556      201  EPS046          75
69       99 2022-01-29      43255890      205  EPS012          76
70      100 2022-01-31    1002456789      345  EPS008          77

[71 rows x 6 columns]

In [ ]:
df_pacientes.to_csv('pacientes.csv', index=False)
df_medicos.to_csv('medicos.csv', index=False)
df_eps_citas.to_csv('eps.csv', index=False)
df_historia.to_csv('historia.csv', index=False)
df_citas.to_csv('citas.csv',index=False)